*{
    margin: 0;
    padding: 0;
}
body{
  background-color: rgb(228, 221, 213);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigbox{
    height: max-content;
    width: max-content;
    background-color: rgb(253, 253, 252);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.bigbox p{
    font-size: 40px;
    padding: 20px;
    text-align: center;
}
.bigbox input{
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding: 20px;
    padding-left: 40px;
    width: 500px;
    display: block;
    outline: none;
    border-radius: 40px;
    border: none;
    margin: 0 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Generate{
    padding: 10px;
    margin: 40px 25%;
    width: 50%;
    border: none;
    background-color: rgb(92, 92, 240);
    border-radius: 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.qrcode{
    opacity: 0;
    pointer-events: none;opacity: 0;
    max-height: 0;
    transition: all 4s;
    /* transition: opacity 10s; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.qrcode img{
    padding: 40px;  

}

.download{
    border: none;
    padding: 10px;
    background-color: rgb(92, 92, 240);
    border-radius: 10px;
    color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.closebtn{
    position: absolute;
    right:2%;
    padding: 5px;
    top:20px;
    border-radius: 30%;
    background-color: rgb(92, 92, 240);
    border: none;
}

.closebtn i{
    padding: 2px;
    color: white;
}
.showcode{
    max-height: 300px;
    pointer-events: auto;
    opacity: 1;  
    animation: opacity1 3s linear(0 0%, 1 100%);
}
 @keyframes opacity1{
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0;

    }
    100%{
        opacity: 1;

    }

} 
.hideQr{
    opacity: 0;
    pointer-events: none;
    animation: opacity 3s linear(0 0%, 1 100%);
    
}

@keyframes opacity{
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0;

    }
    100%{
        opacity: 0;

    }

}
.error{
   animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{ transform: translateX(0);}
}
@media(max-width : 768px){
    .bigbox p{
        font-size: 25px;
    }
    .bigbox input{
        font-size: 12px;
        width: 400px;
    }
}
@media(max-width : 425px){
    .bigbox p{
        font-size: 20px;
    }
    .bigbox input{
        font-size: 10px;
        width: 256px;
        height: 3px;
    }
    .Generate{
        font-size: 14px;
    }

    
}
@media(max-width : 375px){
    .bigbox p{
        font-size: 16px;
    }
    .bigbox input{
        font-size: 9px;
        width: 191px;
        height: 0px;
    }
    .Generate{
        font-size: 10px;
    }

    
}
@media(max-width : 320px){
    .bigbox p{
        font-size: 16px;
    }
    .bigbox input{
        font-size: 9px;
        width: 158px;
        height: 0px;
    }
    .Generate{
        font-size: 10px;
    }

    
}


